<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>Plangeri</title>
  <link rel="stylesheet" href="/departament.css" />
</head>
<body>
    <br>
    <br>
    <br>
    <nav class="navbar">
      <button class="logo" id="home"><div class="logo">CrocoAnonim</div></button>
      <ul class="nav-links">
        <li id="it"><button class="it">Plangeri</button></li>
      </ul>
    </nav>
  <h1>Plangeri</h1>

  <div class="grid">
    <% plangeri.forEach(item => { %>
        <div class="card POST" tabindex="0" role="button" data-id="<%= item.id_plangere %>">
            <span class="icon">
              <div class="absolute top-2 right-2 w-6 h-6">
                <% if (item.created_by == 1) { %>
                  <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#FFFFFF" stroke="#FFFFFF"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#" d="M273 459l7.79-20 6.21 20 5.79-23.33-4.25-48c-7.76 7.94-17.54 17.85-29.74 30.27zm38.5-380.86a115.06 115.06 0 0 0-21.13-19.6c-17.315-11.88-35.418-18.913-55.08-22.14-18.751-3.067-37.99-2.743-56.33.12A203.86 203.86 0 0 0 133 49.42a184.2 184.2 0 0 0-29.62 15.36c-12.304 8.597-10.431 6.828.95 1.82a179.6 179.6 0 0 1 30.9-10c50.427-4.832 98.41-7.579 134.17 27.17a80 80 0 0 1 12.28 16c4.714 8.06 7.805 16.877 9.66 25.59l45.69 2.84c-5.032-17.752-15.256-37.574-25.53-50.06zm50.05 26.63c-8.531-13.217-18.495-25.428-29.66-34.88a78.24 78.24 0 0 0-15.79-10.38c2.67 2.68 5.22 5.45 7.61 8.32a138.13 138.13 0 0 1 9.13 12.11l.1.14.09.14c9.772 15.14 17.164 33.862 20.78 49.15l22.19 1.3a253.49 253.49 0 0 0-14.43-25.91zm29.89 43l70 179.4-11.82 28.37-65.77-37.94-8 13.86 67.56 39-4.327 5.754L394.12 372l-65.33-31.47a42.41 42.41 0 0 0-9.29-1.43c-5.71 0-9.52 2.06-12.71 6.62-2.53 3.61-78.5 80.52-147.64 150.28H16V243.73l92.85 3.85 96.61-33.26 10.13-11a214.71 214.71 0 0 1 38 24.27 18.57 18.57 0 0 0 11.61 3.93c13.792-1.574 22.025-9.12 32.83-17.83-3.267-21.244-6.724-43.71-9.56-62.1-6.463-2.155-12.926-4.308-19.39-6.46l4.39-4.78zm-37.25 65.02c-4.024-14.705-20.114-19.427-30.58-18.14-3.073.432-6.167 1.427-8.77 2.68.868 3.09 2.17 7.87 3.79 10.35 6.527 9.211 17.348 13.898 27.64 12.51 3.967-.672 8.94-3.676 7.92-7.4zm61.63 105.47l19 20 11.6-11-19-20zM475 172.99s-40.54-27.8-57-1.2l11.25 28.83zM294 382.05l13.4 22.28-.4-35.64c-3.29 3.45-7.53 7.82-12.95 13.36zm-30.6-167c5.858 1.872 17.61-6.048 17.33-8.01l-6.67-43.33-28-9.31c-17.65-2.861-58.224-4.989-67.27 9.28 39.596 39.732 39.526 16.87 84.61 51.37zm127.08 172.89c-15.313-7.704-30.838-14.996-46.28-22.44 5.153 29.387 10.895 58.672 15.75 88.11l25.26 37.33-2.6-34L400 469.61v-28.67l10.19-41.95 6.67-11.05z"></path></g></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  </svg>
                <% } else if (item.created_by == 2) { %>
                  <svg fill="#ffffff" height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M462.717,348.911c-0.027-0.307-0.041-0.618-0.041-0.927c0-31.561-25.676-57.238-57.237-57.238 c-31.561,0-57.237,25.676-57.237,57.238c0,11.898,3.632,23.317,10.502,33.022c0.415,0.586,0.77,1.214,1.062,1.87 c0.118,0.264,12.916,28.453,42.032,56.14c31.073,29.547,68.038,47.38,110.201,53.227 C492.52,469.944,469.49,427.527,462.717,348.911z"></path> </g> </g> <g> <g> <path d="M505.399,306.28c-0.028-0.889-0.135-4.728-0.174-5.513c-1.153-23.399-19.202-50.238-38.275-78.601 c-18.401-27.362-37.428-55.657-43.92-84.982c-7.788-35.173,3.773-65.177,35.336-91.727c2.863-2.408,4.351-5.847,3.98-9.198 c-0.218-1.958-1.174-4.654-4.497-6.378c-12.924-6.72-26.716-10.124-41.004-10.124c-6.474,0-13.124,0.712-19.765,2.117 c-51.463,10.906-87.199,59.188-83.729,112.72c0.036,0.562,0.278,3.639,0.312,4.052c4.716,58.676,10.2,131.353-36.684,190.008 l-1.318,1.661c-5.143,6.504-15.848,20.04-31.645,33.022c-19.949,16.394-42.489,28.431-48.922,31.73 c-15.37,7.882-28.392,11.713-39.81,11.713c-26.377,0-47.836-21.453-47.836-47.822c0-12.828,5.012-24.875,14.112-33.92 c1.157-1.15,3.346-2.958,8.189-6.94c5.912-4.862,16.916-13.912,19.856-17.26c14.172-16.138,18.586-31.919,23.696-50.192 c4.127-14.759,8.623-30.831,18.549-49.013c-54.232,23.079-159.816,79.424-159.816,168.231c0,70.324,48.266,96.361,69.017,104.289 c16.783,6.415,42.129,9.666,75.335,9.666c62.977,0,129.445-11.528,142.13-13.839c25.152-4.582,47.468-10.066,67.134-16.502 c-28.685-27.684-42.501-55.142-45.18-60.822c-9.089-13.193-13.887-28.615-13.887-44.671c0-43.483,35.375-78.859,78.857-78.859 c43.321,0,78.595,35.113,78.856,78.375c1.077,12.355,2.573,23.683,4.381,34.076C500.826,360.466,506.349,335.53,505.399,306.28z M401.488,67.192c-5.17,2.985-11.782,1.213-14.767-3.957c-2.985-5.17-1.213-11.782,3.957-14.767 c5.17-2.985,11.782-1.213,14.767,3.957S406.659,64.207,401.488,67.192z"></path> </g> </g> <g> <g> <path d="M0,195.42c12.162,21.414,26.843,56.014,30.776,102.704c3.77-6.342,8.177-12.685,12.976-18.834 c8.227-10.544,17.984-20.796,29.166-30.703C50.144,218.833,20.952,203.26,0,195.42z"></path> </g> </g> </g></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="blue" viewBox="0 0 24 24" stroke="currentColor">
                  </svg>
                <% } else if (item.created_by == 3) { %>
                  <svg fill="#ffffff" height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M0,135.434c0,27.786,13.637,54.737,37.605,71.028c18.611-53.476,51.532-106.098,95.693-142.701 C76.535,26.245,0,66.968,0,135.434z"></path> </g> </g> <g> <g> <path d="M378.702,63.759c43.385,35.965,76.691,88.103,95.692,142.702C498.321,190.199,512,163.267,512,135.434 C512,66.961,435.457,26.251,378.702,63.759z"></path> </g> </g> <g> <g> <path d="M256.003,49.597c-0.012,0-0.031,0-0.044,0C141.939,49.634,53.684,193.404,53.684,302.856 c0,111.622,89.237,159.667,202.316,159.667c113.018,0,202.316-48.063,202.316-159.667 C458.316,193.417,370.064,49.597,256.003,49.597z M335.505,162.289c12.198,0,22.086,9.888,22.086,22.086 s-9.888,22.086-22.086,22.086s-22.086-9.888-22.086-22.086S323.307,162.289,335.505,162.289z M176.495,162.289 c12.198,0,22.086,9.888,22.086,22.086s-9.888,22.086-22.086,22.086c-12.198,0-22.086-9.888-22.086-22.086 S164.297,162.289,176.495,162.289z M346.837,357.468c-11.685,8.312-25.551,12.62-39.522,12.623v30.149 c0,9.22-7.475,16.696-16.696,16.696H221.38c-9.22,0-16.696-7.475-16.696-16.696v-30.148c-13.968-0.002-27.828-4.306-39.508-12.615 c-18.199-12.948-28.638-33.164-28.638-55.465c0-9.22,7.475-16.696,16.696-16.696s16.696,7.475,16.696,16.696 c0,11.355,5.323,21.654,14.603,28.257c23.145,16.467,54.771-0.336,54.771-28.257c0-1.198,0.131-2.364,0.372-3.489l-33.528-38.715 c-9.33-10.774-1.678-27.626,12.621-27.626h74.464c14.253,0,21.981,16.816,12.621,27.625l-33.528,38.715 c0.239,1.126,0.372,2.293,0.372,3.491c0,27.809,31.539,44.783,54.784,28.249c9.272-6.597,14.589-16.893,14.589-28.249 c0-9.22,7.475-16.696,16.696-16.696c9.22,0,16.696,7.475,16.696,16.696C375.46,324.314,365.027,344.527,346.837,357.468z"></path> </g> </g> </g></svg>                  </svg>
                <% } else if (item.created_by == 4) { %>
                  <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#" d="M123.885 20.447c-10.348.467-21.337 3.146-32.194 5.366l62.492 65.628-21.645.188c-29.376.187-75.695 6.154-103.555 22.303l31.756 51.576-40.625 21.098v56.577l46.54 26.32-46.54 40.076v32.268c28.217-1.233 60.63.636 89.135-8.907l31.902-10.658-21.828 25.586c-18.76 22-29.782 55.133-50.736 87.713 31.91-2.394 63.352-7.65 96.8-25.81l16.026-8.683-9.746 77.124c26.333-12.19 52.103-28.923 71.178-49.055 22.683-23.94 35.713-50.49 33.36-72.71l-.074-.75c-18.488-12.687-32.26-31.173-39.236-54.18-8.414-27.753-5.867-62.33 6.643-101.145-26.406-4.04-46.536-14.637-57.307-30.11-12.33-17.716-14.222-39.26-7.738-57.018 6.483-17.758 22.29-32.165 43.437-33.4 20.558-1.195 44.48 10.033 69.972 36.102 11.368 4.11 21.73 8.034 31.14 11.94 2.434-21.395-1.46-38.033-10.408-52.9-8.41-13.975-23.217-26.43-41.1-38.582l4.27 42.888-16.425-10.985C222.37 43.57 168.973 18.49 123.885 20.597l.002-.225zm100.387 77.997c-.436.008-.866 0-1.29 0h-.002c-13.54.785-22.545 9.105-26.937 21.135-4.393 12.03-3.243 27.353 5.51 39.93 8.755 12.576 25.128 23.158 53.548 24.784l12.595.69-4.344 11.827c-14.837 40.46-16.242 73.928-8.577 99.212 7.66 25.267 24.04 42.795 47.305 52.56h.037l108.59 38.474c5.65-11.9 11.672-23.813 17.988-35.71-4.997 2.188-10.513 3.41-16.32 3.41-22.52 0-40.78-18.262-40.78-40.782 0-22.518 18.26-40.78 40.78-40.78 20.66 0 37.697 15.373 40.373 35.3 10.666-18.062 21.885-36 33.48-53.683l-103.224-52.377-4.746-5.732c-3.93-13.556-11.515-23.32-26.39-33.324-14.876-10.002-37.034-19.57-67.784-30.623l-2.08-.767-1.53-1.607c-23.283-24.532-42.7-32.278-56.202-32.024zm119.04 89.93c8.272 0 14.657 6.387 14.657 14.657 0 8.274-6.387 14.688-14.658 14.688-8.27 0-14.687-6.414-14.687-14.687 0-8.27 6.416-14.655 14.687-14.655z"></path></g></svg>
                <% } else { %>
                  <svg height="400px" width="400px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:#ffffff;} </style> <g> <path class="st0" d="M432.418,173.569c-74.564-23.921-87.878-29.468-114.427-40.798c-27.654-11.817-23.874-34.315-15.746-43.692 c-38.148,0-70.07,47.909-16.599,78.862c45.072,26.1,48.601,28.032,68.934,39.394c40.557,22.665,19.409,41.28-9.384,44.708 c-2.848-2.593-6.51-5.334-11.403-5.854c-5.28-0.555-12.993,5.092-19.383,4.377c-5.588-0.621-9.638-7.579-15.734-8.281 c-4.799-0.548-11.814,4.17-17.468,5.334c-1.925-0.214-3.85-0.428-5.762-0.649c-4.237-2.292-7.045-8.201-11.937-8.776 c-5.026-0.594-12.178,4.144-17.712,5.28c-1.938-0.234-3.85-0.468-5.721-0.695c-4.385-2.34-7.098-8.221-11.697-8.769 c-5.307-0.642-12.272,3.716-17.418,5.08c-10.347-1.344-16.776-2.213-16.776-2.213c-8.555,0-44.835-31.487-58.898-7.105 c-10.908,18.902-37.523,15.012-37.523,15.012l-62.56-13.528c0,0-14.063-14.076-28.059-0.013 c-15.159,15.232-1.484,32.296-1.484,32.296l12.872,4.064c0.522,5.534,1.778,13.234,4.879,18.915c1.11,3.769,8.141,9.477,8.956-0.2 c0.454-5.227,2.112-9.966,3.543-13.228l12.673,3.997c0.694,4.872,1.992,10.474,4.397,14.858c1.11,3.77,8.141,9.478,8.956-0.2 c0.307-3.582,1.19-6.938,2.166-9.759l14.41,4.552c0.762,4.23,1.992,8.762,4.01,12.445c1.11,3.77,8.141,9.478,8.956-0.201 c0.241-2.746,0.816-5.34,1.51-7.679l20.733,6.55c0.749,2.874,1.752,5.708,3.088,8.168c1.11,3.769,8.141,9.477,8.956-0.2 c0.12-1.37,0.334-2.701,0.588-3.984l66.397,20.954l-69.779,7.706c-0.348-1.584-0.615-3.261-0.762-5.006 c-0.762-9.511-7.071-3.656-8.074,0.094c-0.909,1.885-1.645,3.983-2.233,6.142l-19.262,2.126c-0.602-2.213-1.097-4.666-1.311-7.259 c-0.762-9.511-7.072-3.656-8.074,0.094c-1.244,2.567-2.165,5.534-2.82,8.515l-13.849,1.524c-0.842-2.66-1.591-5.802-1.858-9.177 c-0.775-9.511-7.084-3.656-8.074,0.1c-1.537,3.142-2.566,6.891-3.248,10.541l-12.792,1.41c-1.096-3.008-2.179-6.878-2.513-11.095 c-0.775-9.518-7.085-3.662-8.074,0.094c-1.832,3.736-2.927,8.314-3.609,12.565l-12.967,1.438l6.043,14.818 c3.261,8.014,11.055,13.254,19.704,13.254c0,0,97.209,0,208.467,0l-0.494,9.083c0,0-14.986-0.047-18.928,10.193 c-0.014,2.567,14.944,5.18,14.944,5.18s-9.491,8.569-7.406,14.578c1.283,3.736,20.158-4.184,20.158-4.184 s-7.967,16.756-1.43,16.341c4.719-0.294,16.764-8.414,16.764-8.414s0.708,9.624,5.841,9.671c6.55,0.06,12.285-24.489,12.285-24.489 s1.764-13.28,3.766-27.958c36.146,0,72.586,0,106.634,0c13.742,0,26.28-1.718,37.59-4.819l-0.736,13.902 c0,0-14.998-0.047-18.941,10.193c-0.014,2.567,14.945,5.18,14.945,5.18s-9.492,8.569-7.406,14.578 c1.297,3.736,20.158-4.184,20.158-4.184s-7.966,16.756-1.43,16.341c4.718-0.294,16.776-8.414,16.776-8.414s0.695,9.624,5.828,9.671 c6.55,0.06,12.285-24.489,12.285-24.489s6.483-48.471,8.569-62.607C532.02,286.973,517.196,200.759,432.418,173.569z"></path> </g> </g></svg>              
                  <% } %>
                </div>
              
            </span>
            <div class="date-time">
              <%= new Date(item.created_at).toLocaleString() %>
            </div>
            <h4><%= item.titlu %></h4>
            <p><%= item.short_description %></p>
          
            <div class="shine"></div>
            <div class="background">
              <div class="tiles">
                <% for (let t = 1; t <= 10; t++) { %>
                  <div class="tile tile-<%= t %>"></div>
                <% } %>
              </div>
              <div class="line line-1"></div>
              <div class="line line-2"></div>
              <div class="line line-3"></div>
            </div>
          </div>
    <% }) %>
  </div>

  <div class="add">
    <button class="creaza" id="new">

      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor"
           stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
           width="36" height="36">
        <line x1="12" y1="5" x2="12" y2="19"></line>
        <line x1="5"  y1="12" x2="19" y2="12"></line>
      </svg>
    </button>
  </div>

  <script src="/add_plangere.js"></script>
</body>
</html>
